(
A,
AA,
AVhorizontalbar,
AY,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Agrave,
"Ain-egyptological",
"Alef-egyptological",
"Alpha-latin",
"Alphaturned-latin",
Amacron,
Ao,
Aogonek,
Aring,
Astroke,
Atilde,
Aturned,
Au,
Av,
AE,
B,
Bhook,
Bstroke,
Btopbar,
C,
Cacute,
Cbar,
Ccaron,
Ccedilla,
Chook,
Con,
Creverseddot,
Cstroke,
Cuatrillo,
Cuatrillocomma,
D,
DZcaron,
Dafrican,
Eth,
Dcaron,
Dcroat,
Dhook,
Dinsular,
Dtopbar,
Dzcaron,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Eopen,
Ereversed,
EreversedOpen,
Esh,
Estroke,
Et,
Ezh,
Ezhcaron,
Ezhreversed,
F,
Fhook,
Finsular,
G,
Gbreve,
Gcommaaccent,
Ghook,
Ginsular,
Glottalstop,
Gobliquestroke,
Gscript,
Gstroke,
Gturnedinsular,
Yogh,
H,
Halfh,
Hbar,
Hcedilla,
Hdescender,
Heng,
Hhook,
Hturned,
Hwair,
I,
Iacute,
Icaron,
Icircumflex,
Idieresis,
Idieresisacute,
Igrave,
Imacron,
Iogonek,
Iotaafrican,
Is,
Istroke,
Itildebelow,
J,
Jstroke,
K,
Kcommaaccent,
Kdescender,
Kdiagonalstroke,
Khook,
Kobliquestroke,
Kstroke,
Kstrokediagonalstroke,
Kturned,
L,
"LL-middleWelsh",
Lacute,
Lbar,
Lbelt,
Lbroken,
Lcaron,
Lcommaaccent,
Ldoublebar,
Lhighstroke,
Lmiddletilde,
Lslash,
Lturned,
M,
Mhook,
Mturned,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ndescender,
Eng,
Nhookleft,
Nlongrightleg,
Nobliquestroke,
Ntilde,
O,
OO,
OU,
Oacute,
Ocaron,
Ocircumflex,
Odieresis,
Ograve,
Ohorn,
Ohungarumlaut,
Oi,
Olongstroke,
Oloop,
Omacron,
Oopen,
Oslash,
Otilde,
OE,
P,
Pflourish,
Phook,
Thorn,
Psquirreltail,
Pstroke,
Pstrokethroughdescender,
Q,
Qdiagonalstroke,
Qhooktail,
Qstrokethroughdescender,
R,
Racute,
Rcaron,
Rcommaaccent,
Rinsular,
Robliquestroke,
Rrotunda,
Rstroke,
Rtail,
RumRotunda,
S,
Sacute,
Saltillo,
Scaron,
Scedilla,
Germandbls,
Sinsular,
Sobliquestroke,
Sswashtail,
Schwa,
T,
Tbar,
Tcaron,
Tcedilla,
Tdiagonalstroke,
Thook,
Thornstroke,
Thornstrokethroughdescender,
Tinsular,
Tonefive,
Tonesix,
Tonetwo,
Tresillo,
Tretroflexhook,
Tturned,
Tz,
U,
Uacute,
Ubar,
Ucaron,
Ucircumflex,
Udieresis,
Ugrave,
Uhorn,
Uhungarumlaut,
Umacron,
Uogonek,
Upsilonafrican,
Uring,
V,
"V-middleWelsh",
VY,
Gammaafrican,
Vdiagonalstroke,
Vend,
Vhook,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
Whook,
Wynn,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Yhook,
Yloop,
Yr,
Ystroke,
Z,
Zacute,
Zcaron,
Zdescender,
Zdotaccent,
Zhook,
Zstroke,
Zswashtail,
G.alt,
K.alt,
R.alt,
K.alt2,
C.cn,
Chook.cn,
Creverseddot.cn,
D.cn,
G.cn,
Ghook.cn,
O.cn,
Oopen.cn,
Q.cn,
Qdiagonalstroke.cn,
Qstrokethroughdescender.cn,
U.cn,
C.ss06,
D.ss06,
G.ss06,
O.ss06,
Q.ss06,
A.unic,
E.unic,
M.unic,
N.unic,
U.unic,
AEsmall,
Asmall,
BbarredSmall,
Csmall,
Dsmall,
Esmall,
Esmallturned,
EthSmall,
EzhSmall,
Fsmall,
Gsmall,
Gsmallhook,
Ismall,
Jsmall,
Ksmall,
Lsmall,
LstrokeSmall,
Msmall,
Mturnedsmall,
NreversedSmall,
Nsmall,
OEsmall,
OUsmall,
OopenSmall,
Osmall,
Psmall,
RreversedSmall,
Rsmall,
Rsmallinverted,
Ssmall,
Tsmall,
TturnedSmall,
Usmall,
Vsmall,
Wsmall,
Ysmall,
Zsmall,
a,
aa,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
aeTurned,
agrave,
ain,
"ain-egyptological",
"alef-egyptological",
"alpha-latin",
alphabarred,
"alphainverted-latin",
alpharetroflexhook,
"alphaturned-latin",
amacron,
ao,
aogonek,
aretroflexhook,
aring,
aschwareversed,
astroke,
atilde,
aturned,
au,
av,
avhorizontalbar,
ay,
ae,
b,
bhook,
bilabialpercussive,
bmiddletilde,
bpalatalhook,
bstroke,
btopbar,
c,
cacute,
cbar,
ccaron,
ccedilla,
ccurl,
"chi-latin",
chilowleftserif,
chilowrightring,
chook,
con,
creversed,
creverseddot,
cstretched,
cstroke,
cuatrillo,
cuatrillocomma,
d,
eth,
dbdigraph,
dcaron,
dcroat,
dcroat_parentoverlaycomb,
dcurl,
"delta-latin",
deltaturned,
dezh,
dhook,
dhookandtail,
dinsular,
dmiddletilde,
dpalatalhook,
dtail,
dtopbar,
dum,
dz,
dzcaron,
dzcurl,
e,
eTurnedopen,
eacute,
ebarred,
ecaron,
ecircumflex,
edieresis,
edotaccent,
eflourish,
egrave,
emacron,
engcrossedtail,
enotch,
eogonek,
eopen,
eopenclosed,
eopenretroflexhook,
eopenreversed,
eopenreversedclosed,
eopenreversedhook,
eopenreversedretroflexhook,
eretroflexhook,
ereversed,
esh,
eshbaseline,
eshcurl,
eshpalatalhook,
eshretroflexhook,
eshreversedloop,
eshsquatreversed,
estroke,
et,
schwa,
schwahook,
ezh,
ezhcaron,
ezhcurl,
ezhretroflexhook,
ezhreversed,
ezhtail,
f,
fengdigraph,
finsular,
flenis,
fmiddletilde,
fpalatalhook,
g,
"gamma-latin",
gbreve,
gcommaaccent,
ghook,
ginsular,
glottalinvertedstroke,
glottalstop,
glottalstopinverted,
glottalstopreversed,
glottalstopsmall,
glottalstopstroke,
glottalstopstrokereversed,
gobliquestroke,
gpalatalhook,
gscriptcrossedtail,
gsingle,
gstroke,
gturned,
gturnedinsular,
yogh,
h,
halfh,
hcedilla,
hdescender,
heng,
henghook,
hhook,
hturned,
hturnedfishhook,
hv,
i,
iTurned,
idotless,
iacute,
icaron,
icircumflex,
idieresis,
idieresisacute,
idotlessstroke,
igrave,
imacron,
iogonek,
"iota-latin",
iotastroke,
iretroflexhook,
is,
istroke,
itildebelow,
j,
jdotless,
jcrossedtail,
jdotlessstroke,
jdotlessstrokehook,
jstroke,
jsubscript,
k,
kcommaaccent,
kdescender,
kdiagonalstroke,
kgreenlandic,
khook,
kobliquestroke,
kpalatalhook,
kstroke,
kstrokediagonalstroke,
kturned,
l,
lacute,
lambdastroke,
lbar,
lbelt,
lbroken,
lcaron,
lcommaaccent,
lcurl,
ldoublebar,
ldoublemiddletilde,
lezh,
lhighstroke,
lhookretroflex,
"ll-middleWelsh",
lmiddlering,
lmiddletilde,
longsdiagonalstroke,
longsdotaccent,
longshighstroke,
lpalatalhook,
lretroflexhookandbelt,
lsinvertedlazy,
lslash,
lturned,
lum,
lzdigraph,
m,
mSidewaysTurned,
mcrossedtail,
mhook,
mlonglegturned,
mmiddletilde,
mpalatalhook,
mturned,
mum,
n,
nacute,
ncaron,
ncommaaccent,
ncrossedtail,
ncurl,
ndescender,
eng,
eng_parentoverlaycomb,
nhookleft,
nhookretroflex,
nmiddletilde,
nobliquestroke,
npalatalhook,
ntilde,
num,
o,
oBottomhalf,
oSideways,
oSidewaysOpen,
oTophalf,
oacute,
ocaron,
ocircumflex,
odieresis,
oeTurned,
oeinverted,
oeturnedstroke,
oeturnedwithhorizontalstroke,
ograve,
ohorn,
ohungarumlaut,
oi,
olongstroke,
oloop,
olowringinside,
omacron,
"omegaclosed-latin",
oo,
oopen,
oopenoturned,
oopenretroflexhook,
oslash,
oslashSideways,
ostrokeopenoturned,
otilde,
ou,
oe,
p,
pflourish,
"phi-latin",
phook,
thorn,
pmiddletilde,
ppalatalhook,
psquirreltail,
pstroke,
pstrokethroughdescender,
q,
qdiagonalstroke,
qhook,
qhooktail,
qpdigraph,
qstrokethroughdescender,
r,
racute,
ramshorn,
rcaron,
rcommaaccent,
rcrossedtail,
rdouble,
rdoublecrossedtail,
rfishhook,
rfishhookmiddletilde,
rfishhookreversed,
rhook,
rhookturned,
rinsular,
rlongleg,
rlonglegturned,
rmiddletilde,
rnohandle,
robliquestroke,
rpalatalhook,
rrightleg,
rrotunda,
rscript,
rscriptring,
rstirrup,
rstroke,
rturned,
rum,
rumrotunda,
rumsmall,
s,
sacute,
saltillo,
scaron,
scedilla,
schwaretroflexhook,
germandbls,
shook,
sinsular,
smiddletilde,
sobliquestroke,
spalatalhook,
spirantVoicedlaryngeal,
sswashtail,
longs,
t,
taillessphi,
tbar,
tcaron,
tccurl,
tcedilla,
tcurl,
tdiagonalstroke,
tesh,
thook,
thornstroke,
thornstrokethroughdescender,
thstrikethrough,
tinsular,
tmiddletilde,
tonefive,
tonesix,
tonetwo,
tpalatalhook,
tresillo,
tretroflexhook,
ts,
tturned,
tum,
turnedrtail,
tz,
u,
uSideways,
uacute,
ubar,
ubarshortrightleg,
ucaron,
ucircumflex,
udieresis,
udieresisSideways,
ue,
ugrave,
uhorn,
uhungarumlaut,
ui,
uiturned,
ulefthook,
um,
umacron,
uogonek,
"upsilon-latin",
upsilonstroke,
uretroflexhook,
uring,
ushortrightleg,
ustroke,
v,
"v-middleWelsh",
vcurl,
vdiagonalstroke,
vend,
vhook,
vpalatalhook,
vrighthook,
vturned,
vy,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
whook,
wturned,
wynn,
x,
xlongleftleg,
xlongleftlegandlowrightring,
xlongleftlegserif,
xlowrightring,
xpalatalhook,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
yhook,
yloop,
yshortrightleg,
ystroke,
yturned,
z,
zacute,
zcaron,
zcurl,
zdescender,
zdotaccent,
zhook,
zmiddletilde,
zpalatalhook,
zretroflexhook,
zstroke,
zswashtail,
"chi-latin.alt",
g.alt,
k.alt,
u.alt,
k.alt2,
i.ccmp,
iogonek.ccmp,
iretroflexhook.ccmp,
istroke.ccmp,
j.ccmp,
jcrossedtail.ccmp,
jstroke.ccmp,
jsubscript.ccmp,
OopenSmall.cn,
a.cn,
aretroflexhook.cn,
b.cn,
bhook.cn,
c.cn,
chook.cn,
creversed.cn,
creverseddot.cn,
d.cn,
dhook.cn,
dum.cn,
e.cn,
enotch.cn,
eretroflexhook.cn,
g.cn,
ghook.cn,
gscriptcrossedtail.cn,
o.cn,
olowringinside.cn,
oopen.cn,
oopenretroflexhook.cn,
p.cn,
phook.cn,
q.cn,
qhook.cn,
s.cn,
spalatalhook.cn,
thornstrokethroughdescender.cn,
b.ss06,
c.ss06,
d.ss06,
g.ss06,
o.ss06,
p.ss06,
q.ss06,
c.ss07,
e.ss07,
g.ss07,
a_rhotichookmod,
f_f,
f_f_i,
f_f_l,
f_l,
fi,
o_rhotichookmod,
oopen_rhotichookmod,
A.smcp,
AE.smcp,
B.smcp,
C.smcp,
D.smcp,
E.smcp,
F.smcp,
G.smcp,
H.smcp,
Hbar.smcp,
I.smcp,
Iogonek.smcp,
J.smcp,
K.smcp,
L.smcp,
Lslash.smcp,
M.smcp,
N.smcp,
Eng.smcp,
O.smcp,
Oslash.smcp,
OE.smcp,
P.smcp,
Thorn.smcp,
Q.smcp,
R.smcp,
S.smcp,
Germandbls.smcp,
T.smcp,
U.smcp,
V.smcp,
W.smcp,
X.smcp,
Y.smcp,
Z.smcp,
ordfeminine,
ordmasculine,
Fepigraphicreversed,
Iepigraphicsideways,
Longaepigraphici,
Mepigraphicarchaic,
Mepigraphicinverted,
Pepigraphicreversed,
Rsmallinvertedmod,
ainferior,
"alphamod-latin",
"alphaturnedmod-latin",
clickalveolar,
clickdental,
clicklateral,
clickretroflex,
einferior,
hengmod,
hhookmod,
hmod,
imod,
isubscript,
jmod,
lmiddletildemod,
lsinvertedlazymod,
nmod,
oinferior,
"phiModifier-latin",
rmod,
rsubscript,
rturnedmod,
schwainferior,
twostroke,
ulefthookmod,
usubscript,
vsubscript,
wmod,
xinferior,
xmod,
ymod,
imod.ccmp,
isubscript.ccmp,
jmod.ccmp,
"Cche-cy",
"CrossedO-cy",
"DeSoft-cy",
"Djerv-cy",
"DoubleO-cy",
"Dwe-cy",
"DzeReversed-cy",
"Dzelo-cy",
"Dzwe-cy",
"Dzze-cy",
"ElSoft-cy",
"EmSoft-cy",
"Hwe-cy",
"Iota-cy",
"IotifiedA-cy",
"OBinocular-cy",
"ODoubleMonocular-cy",
"OMonocular-cy",
"OmegaBroad-cy",
"Shwe-cy",
"Tche-cy",
"TeWithMiddleHook-cy",
"TseReversed-cy",
"Tsse-cy",
"Tswe-cy",
"Twe-cy",
"UkMonograph-cy",
"YatIotified-cy",
"YerNeutral-cy",
"YeruBackYer-cy",
"Yn-cy",
"YuReversed-cy",
"YusBlended-cy",
"YusClosedlittle-cy",
"YusiotifiedClosedLittle-cy",
"Zemlya-cy",
"Zhwe-cy",
"Be-cy",
"Gheupturn-cy",
"De-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishorttail-cy",
"El-cy",
"U-cy",
"Ef-cy",
"Che-cy",
"Tse-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Hardsign-cy",
"Yeru-cy",
"Lje-cy",
"Nje-cy",
"E-cy",
"Ereversed-cy",
"Tshe-cy",
"Iu-cy",
"Ia-cy",
"Dje-cy",
"Omega-cy",
"Eiotified-cy",
"Yuslittle-cy",
"Yuslittleiotified-cy",
"Yusbig-cy",
"Yusbigiotified-cy",
"Ksi-cy",
"Fita-cy",
"Izhitsa-cy",
"Ghemiddlehook-cy",
"Zhedescender-cy",
"Kadescender-cy",
"Kaverticalstroke-cy",
"Kabashkir-cy",
"Endescender-cy",
"Enghe-cy",
"Pemiddlehook-cy",
"Pedescender-cy",
"Haabkhasian-cy",
"Hadescender-cy",
"Tetse-cy",
"Chedescender-cy",
"Cheverticalstroke-cy",
"Shha-cy",
"Shhadescender-cy",
"Cheabkhasian-cy",
"Kahook-cy",
"Eltail-cy",
"Enhook-cy",
"Entail-cy",
"Emtail-cy",
"Schwa-cy",
"Dzeabkhasian-cy",
"Gestrokehook-cy",
"Hahook-cy",
"Komide-cy",
"Komidje-cy",
"Komizje-cy",
"Komidzje-cy",
"Komilje-cy",
"Kominje-cy",
"Komisje-cy",
"Komitje-cy",
"Reversedze-cy",
"Elhook-cy",
"Lha-cy",
"Rha-cy",
"Yae-cy",
"Aleutka-cy",
"Elmiddlehook-cy",
"Enmiddlehook-cy",
"Koppa-cy",
"Ertick-cy",
"Aleutka-cy.bold",
"EnLeftHook-cy",
"Dzzhe-cy",
"Dche-cy",
"Eldescender-cy",
"Elsmall-cy",
"cche-cy",
"crossedo-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gheupturn-cy",
"de-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishorttail-cy",
"ka-cy",
"el-cy",
"em-cy",
"en-cy",
"pe-cy",
"te-cy",
"ef-cy",
"che-cy",
"tse-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"hardsign-cy",
"yeru-cy",
"lje-cy",
"nje-cy",
"e-cy",
"ereversed-cy",
"tshe-cy",
"iu-cy",
"ia-cy",
"dje-cy",
"omega-cy",
"yat-cy",
"eiotified-cy",
"yuslittle-cy",
"yuslittleiotified-cy",
"yusbig-cy",
"yusbigiotified-cy",
"ksi-cy",
"fita-cy",
"izhitsa-cy",
"ghemiddlehook-cy",
"zhedescender-cy",
"kadescender-cy",
"kaverticalstroke-cy",
"kabashkir-cy",
"endescender-cy",
"enghe-cy",
"pemiddlehook-cy",
"pedescender-cy",
"haabkhasian-cy",
"hadescender-cy",
"tetse-cy",
"chedescender-cy",
"cheverticalstroke-cy",
"shhadescender-cy",
"cheabkhasian-cy",
"kahook-cy",
"eltail-cy",
"enhook-cy",
"entail-cy",
"emtail-cy",
"dzeabkhasian-cy",
"gestrokehook-cy",
"hahook-cy",
"komidje-cy",
"komizje-cy",
"komidzje-cy",
"komilje-cy",
"kominje-cy",
"komisje-cy",
"komitje-cy",
"elhook-cy",
"lha-cy",
"rha-cy",
"yae-cy",
"aleutka-cy",
"elmiddlehook-cy",
"enmiddlehook-cy",
"koppa-cy",
"semisoftsign-cy",
"ertick-cy",
"deSoft-cy",
"djerv-cy",
"doubleo-cy",
"dwe-cy",
"dzeReversed-cy",
"dzelo-cy",
"dzwe-cy",
"dzze-cy",
"elSoft-cy",
"emSoft-cy",
"hwe-cy",
"iota-cy",
"iotifieda-cy",
"oBinocular-cy",
"oDoubleMonocular-cy",
"oMonocular-cy",
"omegaBroad-cy",
"shwe-cy",
"tche-cy",
"tewithmiddlehook-cy",
"tseReversed-cy",
"tsse-cy",
"tswe-cy",
"twe-cy",
"ukMonograph-cy",
"yatIotified-cy",
"yerNeutral-cy",
"yeruBackyer-cy",
"yn-cy",
"yuReversed-cy",
"yusBlended-cy",
"yusClosedlittle-cy",
"yusiotifiedClosedLittle-cy",
"zemlya-cy",
"zhwe-cy",
"i-cy.ccmp",
"je-cy.ccmp",
"iotifieda-cy.cn",
"enlefthook-cy",
"dzzhe-cy",
"dche-cy",
"eldescender-cy",
"Be-cy.smcp",
"Gheupturn-cy.smcp",
"De-cy.smcp",
"Zhe-cy.smcp",
"Ze-cy.smcp",
"Ii-cy.smcp",
"Ka-cy.smcp",
"El-cy.smcp",
"U-cy.smcp",
"Che-cy.smcp",
"Tse-cy.smcp",
"Sha-cy.smcp",
"Shcha-cy.smcp",
"Dzhe-cy.smcp",
"Softsign-cy.smcp",
"Hardsign-cy.smcp",
"Yeru-cy.smcp",
"Lje-cy.smcp",
"Nje-cy.smcp",
"E-cy.smcp",
"Ereversed-cy.smcp",
"Tshe-cy.smcp",
"Iu-cy.smcp",
"Ia-cy.smcp",
"Dje-cy.smcp",
"Ghestroke-cy.smcp",
"Zhedescender-cy.smcp",
"Kadescender-cy.smcp",
"Kaverticalstroke-cy.smcp",
"Kabashkir-cy.smcp",
"Haabkhasian-cy.smcp",
"Ustraightstroke-cy.smcp",
"Hadescender-cy.smcp",
"Tetse-cy.smcp",
"Cheverticalstroke-cy.smcp",
"Shha-cy.smcp",
"Cheabkhasian-cy.smcp",
"Schwa-cy.smcp",
"Dzeabkhasian-cy.smcp",
"Obarred-cy.smcp",
"enmod-cy",
"modifierhardsign-cy",
"modifiersoftsign-cy",
"omultiocular-cy",
"payerok-cy",
Gamma,
Delta,
Theta,
Lambda,
Xi,
Pi,
Sigma,
Phi,
Psi,
Omega,
Heta,
Archaicsampi,
Pamphyliandigamma,
KoppaArchaic,
Stigma,
Digamma,
Koppa,
Sampi,
KaiSymbol,
UpsilonhookSymbol,
SigmaLunateReversedSymbol,
SigmaLunateDottedSymbol,
SigmaLunateDottedReversedSymbol,
SigmaLunateReversedSymbol.cn,
SigmaLunateDottedReversedSymbol.cn,
Gammasmall,
Lamdasmall,
Omegasmall,
Pismall,
Psismall,
Rhosmall,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
lambda,
xi,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
psi,
omega,
heta,
archaicsampi,
pamphyliandigamma,
sigmaLunateReversedSymbol,
sigmaLunateDottedSymbol,
sigmaLunateDottedReversedSymbol,
koppaArchaic,
stigma,
digamma,
koppa,
sampi,
kaiSymbol,
betaSymbol,
thetaSymbol,
phiSymbol,
piSymbol,
kappaSymbol,
rhoSymbol,
epsilonLunateSymbol,
san,
rhoStrokeSymbol,
alpha.alt,
delta.alt,
yot.ccmp,
sigmaLunateReversedSymbol.cn,
sigmaLunateDottedReversedSymbol.cn,
prosgegrammeni,
Gamma.smcp,
Delta.smcp,
Theta.smcp,
Lambda.smcp,
Xi.smcp,
Pi.smcp,
Sigma.smcp,
Phi.smcp,
Psi.smcp,
Omega.smcp,
betasubscript,
chisubscript,
gammamod,
gammasubscript,
phimod,
phisubscript,
rhosubscript,
"e-blackletter",
"o-blackletter",
"oopenstroke-blackletter",
"ostroke-blackletter",
Zvisigothic,
zvisigothic,
"finalkaf-hb",
"finalmem-hb",
"finalnun-hb",
"finaltsadi-hb",
"qofdagesh-hb",
"shindagesh-hb",
"tavdagesh-hb",
AeVolapuk,
BFlourish,
FStroke,
Fturned,
OeVolapuk,
UeVolapuk,
angstrom,
kelvin,
aeVolapuk,
bFlourish,
cPalatalhook,
fStroke,
hPalatalhook,
oeVolapuk,
ueVolapuk,
bFlourish.cn,
cPalatalhook.cn,
oemod,
AEModifier,
Amod,
BBarredmod,
Bmod,
Dmod,
EReversedmod,
Emod,
Gmod,
Hbarmod,
Hmod,
Imod,
Ismallmod,
IstrokeSmallmod,
Jmod,
Kmod,
Lmod,
Lsmallmod,
Mmod,
NReversedmod,
Nmod,
Nsmallmodifier,
OUmod,
Omod,
Pmod,
Rmod,
Tmod,
Umod,
Usmallmod,
Wmod,
aTurnedmod,
aeTurnedmod,
ainmod,
amod,
barredomod,
betamod,
bmod,
ccurlmod,
chimod,
cmod,
deltamod,
dmod,
dothorizontalbarmod,
dotslashmod,
dotverticalbarmod,
eOpenmod,
eReversedopenmod,
eTurnedopenmod,
emod,
engmod,
eshmod,
ethmod,
ezhmod,
fmod,
gmod,
hinferior,
hturnedmod,
iTurnedmod,
iotamod,
istrokemod,
jcrossedtailmod,
jdotlessstrokemod,
kinferior,
kmod,
linferior,
lowcircumflexmod,
lowerrightcorneranglemod,
lowinvertedexclamationmarkmod,
lpalatalhookmod,
lretroflexhookmod,
mTurnedmod,
mhookmod,
minferior,
mlonglegturnedmod,
mmod,
ninferior,
nlefthookmod,
nretroflexhookmod,
oBottomhalfmod,
oOpenmod,
oTophalfmod,
omod,
pinferior,
pmod,
raiseddownarrowmod,
raisedexclamationmarkmod,
raisedinvertedexclamationmarkmod,
raiseduparrowmod,
schwamod,
scriptgmod,
shookmod,
sinferior,
thetamod,
tinferior,
tmod,
tpalatalhookmod,
uSidewaysmod,
ubarmod,
umod,
upsilonmod,
usmod,
verticaltilde,
vhookmod,
vmod,
vturnedmod,
zcurlmod,
zmod,
zretroflexhookmod,
istrokemod.ccmp,
jcrossedtailmod.ccmp,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.alt,
one.alt,
two.alt,
three.alt,
four.alt,
five.alt,
six.alt,
seven.alt,
eight.alt,
nine.alt,
one.alt.tnum,
six.alt2,
seven.alt2,
nine.alt2,
zero.frac,
four.frac,
five.frac,
six.frac,
seven.frac,
eight.frac,
nine.frac,
zero.onum,
one.onum,
two.onum,
three.onum,
four.onum,
five.onum,
seven.onum,
nine.onum,
zero.onum.tnum,
one.onum.tnum,
two.onum.tnum,
three.onum.tnum,
four.onum.tnum,
five.onum.tnum,
six.onum.tnum,
seven.onum.tnum,
eight.onum.tnum,
nine.onum.tnum,
one.pnum,
seven.pnum,
zero.sup,
one.sup,
two.sup,
three.sup,
four.sup,
five.sup,
six.sup,
seven.sup,
eight.sup,
nine.sup,
one.tnum,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
fraction,
onefraction,
onehalf,
zerothird,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
onetenth,
zero.smcp,
one.smcp,
two.smcp,
three.smcp,
four.smcp,
five.smcp,
six.smcp,
seven.smcp,
eight.smcp,
nine.smcp,
"One-roman",
"Two-roman",
"Three-roman",
"Four-roman",
"Five-roman",
"Six-roman",
"Seven-roman",
"Eight-roman",
"Nine-roman",
"Ten-roman",
"Eleven-roman",
"Twelve-roman",
"Fifty-roman",
"Hundred-roman",
"Fivehundred-roman",
"Thousand-roman",
"one-roman",
"two-roman",
"three-roman",
"four-roman",
"five-roman",
"six-roman",
"seven-roman",
"eight-roman",
"nine-roman",
"ten-roman",
"eleven-roman",
"twelve-roman",
"fifty-roman",
"hundred-roman",
"fivehundred-roman",
"onethousand-roman",
"Onethousandcd-roman",
"Fivethousand-roman",
"Tenthousand-roman",
"Onehundredreversed-roman",
"Onehundredthousand-roman",
"fiftyearlyform-roman",
"fiftythousand-roman",
"sixlateform-roman",
"Onehundredreversed-roman.cn",
"sixlateform-roman.cn",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
asterism,
blackleftbullet,
blackrightbullet,
bracketleftwithquill,
bracketrightwithquill,
capitulum,
caretSign,
caretinsertionpoint,
charactertie,
closeup,
commareversed,
daggerwithleftguard,
daggerwithrightguard,
dblverticalbar,
dottedcross,
dottedobelos,
dottedrightpointingangle,
dottedtranspositionmarker,
downancora,
editorialcoronis,
exclamationquestion,
exclamdouble,
fivedotmark,
fivedotpunctuation,
flowerpunctuationmark,
forkedparagraphos,
fourdotmark,
fourdotpunctuation,
hyphenationpoint,
hyphenbullet,
hypodiastole,
interrobang,
invertedinterrobang,
invertedundertie,
leftdottedsubstitutionbracket,
leftlowparaphrasebracket,
leftraisedomissionbracket,
leftsubstitutionbracket,
lefttranspositionbracket,
leftverticalbarwithquill,
lowasterisk,
numbersign,
onedotenleader,
onedotovertwodots,
overline,
palmbranch,
paragraphos,
paragraphreversed,
doublequestion,
questionexclamation,
questionreversed,
raisedcomma,
raiseddot,
raiseddottedinterpolationmarker,
raisedinterpolationmarker,
raisedsquare,
referencemark,
reversedforkedparagraphos,
reversedsemicolon,
rightangledottedsubstitutionmarker,
rightanglesubstitutionmarker,
rightdottedsubstitutionbracket,
rightlowparaphrasebracket,
rightraisedomissionbracket,
rightsubstitutionbracket,
righttranspositionbracket,
rightverticalbarwithquill,
ringpoint,
slash,
backslash,
squaredfourdot,
stenographicfullstop,
swungdash,
threedotpunctuation,
tildedotabove,
tildedotbelow,
tilderingabove,
tironiansignet,
tophalfsectionsign,
triangularbullet,
tricolon,
turnedcomma,
turneddagger,
turnedsemicolon,
twoasterisksvertical,
twodotenleader,
twodotpunctuation,
twodotsoveronedot,
undertie,
upancora,
verticalfourdots,
verticalsixdots,
wigglyverticalline,
wordseparatormiddledot,
comma.alt,
semicolon.alt,
slash.alt,
backslash.alt,
periodcentered.tnum,
colon.uc,
semicolon.uc,
semicolon.alt.uc,
parenleftinferior,
parenrightinferior,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
bottomleftHalfBracket,
bottomrightHalfBracket,
topleftHalfBracket,
toprightHalfBracket,
leftDoubleParen,
rightDoubleParen,
leftsidewaysubracket,
rightsidewaysubracket,
parenleftsuperior,
parenrightsuperior,
parenleft.alt,
parenright.alt,
braceleft.alt,
braceright.alt,
bracketleft.alt,
bracketright.alt,
parenleft.uc,
parenright.uc,
braceleft.uc,
braceright.uc,
bracketleft.uc,
bracketright.uc,
parenleft.alt.uc,
parenright.alt.uc,
braceleft.alt.uc,
braceright.alt.uc,
bracketleft.alt.uc,
bracketright.alt.uc,
hyphen,
endash,
emdash,
doubleobliquehyphen,
figuredash,
hyphendieresis,
hyphendouble,
hyphentwo,
nonbreakinghyphen,
threeemdash,
twoemdash,
underscore,
underscoredbl,
hyphen.alt,
endash.alt,
emdash.alt,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
quotedblrightreversed,
doubleprimeReversed,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
primeReversed,
quadrupleprime,
quotedblbasereversed,
tripleprime,
tripleprimeReversed,
quotedbl,
quotesingle,
quotesinglbase.alt,
quotedblbase.alt,
quotedblleft.alt,
quotedblright.alt,
quoteleft.alt,
quoteright.alt,
quotedbl.alt,
quotesingle.alt,
guillemetleft.uc,
guillemetright.uc,
guilsinglleft.uc,
guilsinglright.uc,
"leftanglebracket-math",
"leftdoubleanglebracket-math",
"leftflattenedparenthesis-math",
"leftwhitesquarebracket-math",
"leftwhitetortoiseshellbracket-math",
"rightanglebracket-math",
"rightdoubleanglebracket-math",
"rightflattenedparenthesis-math",
"rightwhitesquarebracket-math",
"rightwhitetortoiseshellbracket-math",
"cwi-kayahli",
anoteleia,
questiongreek,
"asterisk-cy",
"kavyka-cy",
emquad,
emspace,
enquad,
enspace,
figurespace,
fourperemspace,
hairspace,
punctuationspace,
sixperemspace,
space,
thinspace,
threeperemspace,
zerowidthspace,
thinspace.fra,
lefttorightmark,
righttoleftmark,
zerowidthjoiner,
zerowidthnonjoiner,
CR,
.notdef,
.null,
zeroWidthNoBreakSpace,
austral,
cedi,
cent,
colonsign,
cruzeiro,
currency,
dollar,
drachma,
euro,
eurocurrency,
florin,
germanpenny,
guarani,
hryvnia,
kip,
lari,
lira,
liraTurkish,
livreTournois,
manat,
mill,
naira,
nordicMark,
peseta,
peso,
ruble,
rupee,
rupeeIndian,
sheqel,
spesmilo,
sterling,
tenge,
tugrik,
won,
yen,
won.alt,
won.full.alt,
won.full,
commercialMinusSign,
equalinferior,
equalsuperior,
minusinferior,
minussuperior,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
product,
summation,
radical,
micro,
partialdiff,
percent,
pertenthousand,
perthousand,
plusinferior,
plussuperior,
plus.alt,
minus.alt,
multiply.alt,
divide.alt,
equal.alt,
percent.alt,
plus.alt.uc,
minus.alt.uc,
multiply.alt.uc,
divide.alt.uc,
equal.alt.uc,
plus.uc,
minus.uc,
multiply.uc,
divide.uc,
equal.uc,
upArrow,
downArrow,
bullseye,
lozenge,
accountof,
addressedtothesubject,
aktieselskab,
backslantedSouthArrowWithHookedTail,
backslantedSouthArrowWithHorizontalTail,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
degree,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
numero,
estimated,
bentDownThenNorthEastArrow,
blank,
cadauna,
centigrade,
facsimile,
fahrenheit,
objectReplacementCharacter,
ounce,
prescription,
raisedMcSign,
raisedMdSign,
replacementCharacter,
response,
samaritansource,
servicemark,
shortBackslantedSouthArrow,
shortBentDownThenNorthEastArrow,
shortSlantedNorthArrow,
slantedNorthArrowWithHookedHead,
slantedNorthArrowWithHorizontalTail,
telephone,
versicle,
at.alt,
arrowheaddownmod,
arrowheadleftmod,
arrowheadrightmod,
arrowheadupmod,
beginhightonemod,
beginlowtonemod,
chineseToneYangPingmod,
chineseToneYangQumod,
chineseToneYangRumod,
chineseToneYangShangmod,
chineseToneYinPingmod,
chineseToneYinQumod,
chineseToneYinRumod,
chineseToneYinShangmod,
colonmod,
doubleapostrophemod,
downtackmod,
endhightonemod,
endlowtonemod,
extraHighDottedLeftStemToneBarmod,
extraHighDottedToneBarmod,
extraHighLeftStemToneBarmod,
extraLowDottedLeftStemToneBarmod,
extraLowDottedToneBarmod,
extraLowLeftStemToneBarmod,
highDottedLeftStemToneBarmod,
highDottedToneBarmod,
highLeftStemToneBarmod,
indepartingtonemod,
lowDottedLeftStemToneBarmod,
lowDottedToneBarmod,
lowLeftStemToneBarmod,
lowdownarrowheadmod,
lowleftarrowheadmod,
lowleftarrowmod,
lowrightarrowheadmod,
lowringmod,
lowtildemod,
lowuparrowheadmod,
midDottedLeftStemToneBarmod,
midDottedToneBarmod,
midLeftStemToneBarmod,
middledoubleacuteaccentmod,
middledoublegraveaccentmod,
middlegraveaccentmod,
minusmod,
openshelfmod,
plusmod,
raisedcolonmod,
rhotichookmod,
ringhalfleftcentered,
ringhalfrightcentered,
shelfmod,
shortequalmod,
stressAndHighTonemod,
stressAndLowTonemod,
tonebarextrahighmod,
tonebarextrahighmod_tonebarextrahighmod_tonebarextralowmod,
tonebarextrahighmod_tonebarextrahighmod_tonebarhighmod,
tonebarextrahighmod_tonebarextrahighmod_tonebarlowmod,
tonebarextrahighmod_tonebarextrahighmod_tonebarmidmod,
tonebarextrahighmod_tonebarextralowmod,
tonebarextrahighmod_tonebarextralowmod_tonebarextrahighmod,
tonebarextrahighmod_tonebarextralowmod_tonebarextralowmod,
tonebarextrahighmod_tonebarextralowmod_tonebarhighmod,
tonebarextrahighmod_tonebarextralowmod_tonebarlowmod,
tonebarextrahighmod_tonebarextralowmod_tonebarmidmod,
tonebarextrahighmod_tonebarhighmod,
tonebarextrahighmod_tonebarhighmod_tonebarextrahighmod,
tonebarextrahighmod_tonebarhighmod_tonebarextralowmod,
tonebarextrahighmod_tonebarhighmod_tonebarhighmod,
tonebarextrahighmod_tonebarhighmod_tonebarlowmod,
tonebarextrahighmod_tonebarhighmod_tonebarmidmod,
tonebarextrahighmod_tonebarlowmod,
tonebarextrahighmod_tonebarlowmod_tonebarextrahighmod,
tonebarextrahighmod_tonebarlowmod_tonebarextralowmod,
tonebarextrahighmod_tonebarlowmod_tonebarhighmod,
tonebarextrahighmod_tonebarlowmod_tonebarlowmod,
tonebarextrahighmod_tonebarlowmod_tonebarmidmod,
tonebarextrahighmod_tonebarmidmod,
tonebarextrahighmod_tonebarmidmod_tonebarextrahighmod,
tonebarextrahighmod_tonebarmidmod_tonebarextralowmod,
tonebarextrahighmod_tonebarmidmod_tonebarhighmod,
tonebarextrahighmod_tonebarmidmod_tonebarlowmod,
tonebarextrahighmod_tonebarmidmod_tonebarmidmod,
tonebarextralowmod,
tonebarextralowmod_tonebarextrahighmod,
tonebarextralowmod_tonebarextrahighmod_tonebarextrahighmod,
tonebarextralowmod_tonebarextrahighmod_tonebarextralowmod,
tonebarextralowmod_tonebarextrahighmod_tonebarhighmod,
tonebarextralowmod_tonebarextrahighmod_tonebarlowmod,
tonebarextralowmod_tonebarextrahighmod_tonebarmidmod,
tonebarextralowmod_tonebarextralowmod_tonebarextrahighmod,
tonebarextralowmod_tonebarextralowmod_tonebarhighmod,
tonebarextralowmod_tonebarextralowmod_tonebarlowmod,
tonebarextralowmod_tonebarextralowmod_tonebarmidmod,
tonebarextralowmod_tonebarhighmod,
tonebarextralowmod_tonebarhighmod_tonebarextrahighmod,
tonebarextralowmod_tonebarhighmod_tonebarextralowmod,
tonebarextralowmod_tonebarhighmod_tonebarhighmod,
tonebarextralowmod_tonebarhighmod_tonebarlowmod,
tonebarextralowmod_tonebarhighmod_tonebarmidmod,
tonebarextralowmod_tonebarlowmod,
tonebarextralowmod_tonebarlowmod_tonebarextrahighmod,
tonebarextralowmod_tonebarlowmod_tonebarextralowmod,
tonebarextralowmod_tonebarlowmod_tonebarhighmod,
tonebarextralowmod_tonebarlowmod_tonebarlowmod,
tonebarextralowmod_tonebarlowmod_tonebarmidmod,
tonebarextralowmod_tonebarmidmod,
tonebarextralowmod_tonebarmidmod_tonebarextrahighmod,
tonebarextralowmod_tonebarmidmod_tonebarextralowmod,
tonebarextralowmod_tonebarmidmod_tonebarhighmod,
tonebarextralowmod_tonebarmidmod_tonebarlowmod,
tonebarextralowmod_tonebarmidmod_tonebarmidmod,
tonebarhighmod,
tonebarhighmod_tonebarextrahighmod,
tonebarhighmod_tonebarextrahighmod_tonebarextrahighmod,
tonebarhighmod_tonebarextrahighmod_tonebarextralowmod,
tonebarhighmod_tonebarextrahighmod_tonebarhighmod,
tonebarhighmod_tonebarextrahighmod_tonebarlowmod,
tonebarhighmod_tonebarextrahighmod_tonebarmidmod,
tonebarhighmod_tonebarextralowmod,
tonebarhighmod_tonebarextralowmod_tonebarextrahighmod,
tonebarhighmod_tonebarextralowmod_tonebarextralowmod,
tonebarhighmod_tonebarextralowmod_tonebarhighmod,
tonebarhighmod_tonebarextralowmod_tonebarlowmod,
tonebarhighmod_tonebarextralowmod_tonebarmidmod,
tonebarhighmod_tonebarhighmod_tonebarextrahighmod,
tonebarhighmod_tonebarhighmod_tonebarextralowmod,
tonebarhighmod_tonebarhighmod_tonebarlowmod,
tonebarhighmod_tonebarhighmod_tonebarmidmod,
tonebarhighmod_tonebarlowmod,
tonebarhighmod_tonebarlowmod_tonebarextrahighmod,
tonebarhighmod_tonebarlowmod_tonebarextralowmod,
tonebarhighmod_tonebarlowmod_tonebarhighmod,
tonebarhighmod_tonebarlowmod_tonebarlowmod,
tonebarhighmod_tonebarlowmod_tonebarmidmod,
tonebarhighmod_tonebarmidmod,
tonebarhighmod_tonebarmidmod_tonebarextrahighmod,
tonebarhighmod_tonebarmidmod_tonebarextralowmod,
tonebarhighmod_tonebarmidmod_tonebarhighmod,
tonebarhighmod_tonebarmidmod_tonebarlowmod,
tonebarhighmod_tonebarmidmod_tonebarmidmod,
tonebarlowmod,
tonebarlowmod_tonebarextrahighmod,
tonebarlowmod_tonebarextrahighmod_tonebarextrahighmod,
tonebarlowmod_tonebarextrahighmod_tonebarextralowmod,
tonebarlowmod_tonebarextrahighmod_tonebarhighmod,
tonebarlowmod_tonebarextrahighmod_tonebarlowmod,
tonebarlowmod_tonebarextrahighmod_tonebarmidmod,
tonebarlowmod_tonebarextralowmod,
tonebarlowmod_tonebarextralowmod_tonebarextrahighmod,
tonebarlowmod_tonebarextralowmod_tonebarextralowmod,
tonebarlowmod_tonebarextralowmod_tonebarhighmod,
tonebarlowmod_tonebarextralowmod_tonebarlowmod,
tonebarlowmod_tonebarextralowmod_tonebarmidmod,
tonebarlowmod_tonebarhighmod,
tonebarlowmod_tonebarhighmod_tonebarextrahighmod,
tonebarlowmod_tonebarhighmod_tonebarextralowmod,
tonebarlowmod_tonebarhighmod_tonebarhighmod,
tonebarlowmod_tonebarhighmod_tonebarlowmod,
tonebarlowmod_tonebarhighmod_tonebarmidmod,
tonebarlowmod_tonebarlowmod_tonebarextrahighmod,
tonebarlowmod_tonebarlowmod_tonebarextralowmod,
tonebarlowmod_tonebarlowmod_tonebarhighmod,
tonebarlowmod_tonebarlowmod_tonebarmidmod,
tonebarlowmod_tonebarmidmod,
tonebarlowmod_tonebarmidmod_tonebarextrahighmod,
tonebarlowmod_tonebarmidmod_tonebarextralowmod,
tonebarlowmod_tonebarmidmod_tonebarhighmod,
tonebarlowmod_tonebarmidmod_tonebarlowmod,
tonebarlowmod_tonebarmidmod_tonebarmidmod,
tonebarmidmod,
tonebarmidmod_tonebarextrahighmod,
tonebarmidmod_tonebarextrahighmod_tonebarextrahighmod,
tonebarmidmod_tonebarextrahighmod_tonebarextralowmod,
tonebarmidmod_tonebarextrahighmod_tonebarhighmod,
tonebarmidmod_tonebarextrahighmod_tonebarlowmod,
tonebarmidmod_tonebarextrahighmod_tonebarmidmod,
tonebarmidmod_tonebarextralowmod,
tonebarmidmod_tonebarextralowmod_tonebarextrahighmod,
tonebarmidmod_tonebarextralowmod_tonebarextralowmod,
tonebarmidmod_tonebarextralowmod_tonebarhighmod,
tonebarmidmod_tonebarextralowmod_tonebarlowmod,
tonebarmidmod_tonebarextralowmod_tonebarmidmod,
tonebarmidmod_tonebarhighmod,
tonebarmidmod_tonebarhighmod_tonebarextrahighmod,
tonebarmidmod_tonebarhighmod_tonebarextralowmod,
tonebarmidmod_tonebarhighmod_tonebarhighmod,
tonebarmidmod_tonebarhighmod_tonebarlowmod,
tonebarmidmod_tonebarhighmod_tonebarmidmod,
tonebarmidmod_tonebarlowmod,
tonebarmidmod_tonebarlowmod_tonebarextrahighmod,
tonebarmidmod_tonebarlowmod_tonebarextralowmod,
tonebarmidmod_tonebarlowmod_tonebarhighmod,
tonebarmidmod_tonebarlowmod_tonebarlowmod,
tonebarmidmod_tonebarlowmod_tonebarmidmod,
tonebarmidmod_tonebarmidmod_tonebarextrahighmod,
tonebarmidmod_tonebarmidmod_tonebarextralowmod,
tonebarmidmod_tonebarmidmod_tonebarhighmod,
tonebarmidmod_tonebarmidmod_tonebarlowmod,
unaspiratedmod,
uptackmod,
voicingmod,
yangdepartingtone,
ampersand.smcp,
numero.smcp,
dollar.smcp,
euro.smcp,
hryvnia.smcp,
lira.smcp,
ruble.smcp,
sterling.smcp,
tenge.smcp,
yen.smcp,
glottalstopreversedsuperior,
epsilonLunateReversedSymbol,
"numeral-greek",
"lowernumeral-greek",
"thousand-cy",
breveinvertedbrevemod,
"gammamod-latin",
acutelowmod,
colontriangularhalfmod,
colontriangularmod,
commareversedmod,
commaturnedmod,
doubleprimemod,
firsttonechinese,
fourthtonechinese,
glottalstopmod,
glottalstopreversedmod,
gravelowmod,
macronlowmod,
primemod,
ringhalfleft,
ringhalfright,
secondtonechinese,
verticallinelowmod,
verticallinemod,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
caroncomb_parentabovecomb,
brevecomb,
ringcomb,
tildecomb,
tildecomb_doubleparentabovecomb,
tildecomb_parentabovecomb,
macroncomb,
macroncomb_parentabovecomb,
overlinecomb,
hookabovecomb,
verticallineabovecomb,
dblverticallineabovecomb,
dblgravecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
commareversedabovecomb,
commaaboverightcomb,
gravebelowcomb,
acutebelowcomb,
lefttackbelowcomb,
righttackbelowcomb,
leftangleabovecomb,
horncomb,
ringhalfleftbelowcomb,
uptackbelowcomb,
downtackbelowcomb,
plusbelowcomb,
minusbelowcomb,
palatalhookcomb,
retroflexhookcomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
bridgebelowcomb,
dblarchinvertedbelowcomb,
caronbelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
dbllowlinecomb,
tildeoverlaycomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
ringhalfrightbelowcomb,
bridgeinvertedbelowcomb,
squarebelowcomb,
seagullbelowcomb,
xabovecomb,
tildeverticalcomb,
dbloverlinecomb,
gravetonecomb,
acutetonecomb,
gbridgeabovecomb,
equalbelowcomb,
doubleverticallinebelowcomb,
leftanglebelowcomb,
nottildeabovecomb,
homotheticabovecomb,
almostequaltoabovecomb,
arrowleftrightbelowcomb,
arrowupbelowcomb,
graphemejoinercomb,
arrowheadrightabovecomb,
lefthalfringabovecomb,
fermatacomb,
xbelowcomb,
arrowheadleftbelowcomb,
arrowheadrightbelowcomb,
arrowheadrightheadupbelowcomb,
righthalfringabovecomb,
dotaboverightcomb,
asteriskbelowcomb,
doubleringbelowcomb,
zigzagabovecomb,
doublebrevebelowcomb,
doublebrevecomb,
doublemacroncomb,
doublemacronbelowcomb,
tildedoublecomb,
breveinverteddoublecomb,
arrowdoublerightbelowcomb,
acutedottedcomb,
acutegraveacutecomb,
acutemacroncomb,
adiaeresiscomb,
almostequaltobelowcomb,
arrowdowncomb,
arrowheadleftabovecomb,
arrowheadrightheaddownbelow,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
asteriskabovecomb,
bcomb,
breveinverteddblbelowcomb,
brevemacroncomb,
circumflexdblcomb,
conjoiningmacronbelowcomb,
conjoiningmacroncomb,
diaeresisringcomb,
doublecircumflexcomb,
doubleopenmarkbelowcomb,
doubleopenmarkbelowcomb_parentbelowcomb,
doubleparentabovecomb,
doubletildelefthalfcomb,
doubletilderighthalfcomb,
enclosingkeycapcomb,
eshcomb,
fcomb,
fourdotsabovecomb,
graveacutegravecomb,
gravedottedcomb,
gravemacroncomb,
infinitycomb,
isbelowcomb,
ldoublemiddletildecomb,
ligaturelefthalfbelowcomb,
ligaturelefthalfcomb,
ligaturerighthalfbelowcomb,
ligaturerighthalfcomb,
lightcentralizationstrokebelowcomb,
lightcentralizationstrokebelowcomb_parentbelowcomb,
macronacutecomb,
macronbrevecomb,
macrongravecomb,
macronlefthalfbelowcomb,
macronlefthalfcomb,
macronrighthalfbelowcomb,
macronrighthalfcomb,
odiaeresiscomb,
ogonekabovecomb,
olightcentralizationstrokecomb,
openmarkbelowcomb,
parentabovecomb,
parentbelowcomb,
parentoverlaycomb,
pcomb,
schwacomb,
snakebelowcomb,
strongcentralizationstrokebelowcomb,
strongcentralizationstrokebelowcomb_parentbelowcomb,
suspensioncomb,
threedotsabovecomb,
tildelefthalfbelowcomb,
tilderighthalfbelowcomb,
tripledotcomb,
tripleunderdotcomb,
udiaeresiscomb,
ulightcentralizationstrokecomb,
uptackabovecomb,
urabovecomb,
usabovecomb,
wcomb,
wigglylinebelowcomb,
xxbelowcomb,
zigzagbelowcomb,
macronacutecomb.lc,
macrongravecomb.lc,
doubleparentabovecomb.w1,
parentoverlaycomb.w1,
doubleparentabovecomb.w2,
parentoverlaycomb.w2,
doubleparentabovecomb.w3,
parentoverlaycomb.w3,
perispomenicomb,
koroniscomb,
dialytikatonoscomb,
ypogegrammenicomb,
tonos,
dieresistonos,
psili,
koronis,
dasia,
psilivaria,
dasiavaria,
psilioxia,
dasiaoxia,
psiliperispomeni,
dasiaperispomeni,
dialytikavaria,
dialytikaoxia,
dialytikaperispomeni,
varia,
oxia,
perispomeni,
"titlocomb-cy",
"palatalizationcomb-cy",
"dasiapneumatacomb-cy",
"psilipneumatacomb-cy",
"pokrytiecomb-cy",
"hundredthousandssigncomb-cy",
"millionssigncomb-cy",
"hardsigncomb-cy",
"hundredmillionscomb-cy",
"icomb-cy",
"ieukrainiancomb-cy",
"iotifiedecomb-cy",
"kavykacomb-cy",
"omegacomb-cy",
"payerokcomb-cy",
"softsigncomb-cy",
"tenmillionscomb-cy",
"thousandmillionscomb-cy",
"ucomb-cy",
"vzmetcomb-cy",
"yerucomb-cy",
"yicomb-cy",
Vmod,
Gcomb,
Lcomb,
Mcomb,
Ncomb,
Rcomb,
acomb,
aecomb,
alphalatincomb,
aocomb,
avcomb,
betalatincomb,
ccedillacomb,
ccomb,
dcomb,
ecomb,
ethcomb,
flattenedopenaabovecomb,
gcomb,
hcomb,
icomb,
insulardcomb,
kcomb,
lcomb,
longscomb,
mcomb,
ncomb,
ocomb,
rbelowcomb,
rcomb,
rrotundacomb,
scomb,
tcomb,
ucomb,
vcomb,
xcomb,
zcomb,
uni0002,
uni0009,
uni047A,
uni047B,
uni047C,
uni047D,
uni047E,
uni047F,
uni2DE0,
uni2DE1,
uni2DE2,
uni2DE3,
uni2DE4,
uni2DE5,
uni2DE6,
uni2DE7,
uni2DE8,
uni2DE9,
uni2DEA,
uni2DEB,
uni2DEC,
uni2DED,
uni2DEE,
uni2DEF,
uni2DF0,
uni2DF1,
uni2DF2,
uni2DF3,
uni2DF4,
uni2DF5,
uni2DF6,
uni2DF7,
uni2DF8,
uni2DF9,
uni2DFA,
uni2DFB,
uni2DFC,
uni2DFD,
uni2DFE,
uni2DFF,
quotedblx,
srthook.cn,
longst,
st,
largerighthook,
cyrillichook,
cyrillichookleft,
cyrillictic,
brevetildecomb,
brevehookcomb,
breveacutecomb,
circumflextildecomb,
circumflexhookcomb,
circumflexgravecomb,
circumflexacutecomb,
brevegravecomb,
commaaccentrotate,
crossbar,
ringacute,
caronnosp,
caronsubnosp,
dieresismacroncomb,
dieresisacutecomb,
dieresiscaroncomb,
dieresisgravecomb,
dotmacroncomb,
tildeacutecomb,
macrondieresiscomb,
acutedotcomb,
carondotcomb,
tildemacroncomb,
tildedieresiscomb,
st.cn,
aturn_uni02DE,
iota1_uni02DE,
ascript_uni02DE,
ascriptturn_uni02DE,
epsilon1revclosed_uni02DE,
dieresisnosp_uni1ABB,
iotasubnosp_uni1ABD,
dotdblsubnosp_uni1ABD,
dotbelow_uni1ABD,
ringsubnosp_uni1ABD,
linevertsubnosp_uni1ABD,
breveinvsubnosp_uni1ABD,
tildesubnosp_uni1ABD,
lmidtilde_uni1ABE,
gbar_uni1ABE,
bbar_uni1ABE,
rrthook_uni1ABE,
acutedotcomb.lc,
tildedieresiscomb.lc,
dieresisacutecomb.lc,
carondotcomb.lc,
dotmacroncomb.lc,
dieresismacroncomb.lc,
dieresisgravecomb.lc,
tildemacroncomb.lc,
macrondieresiscomb.lc,
tildeacutecomb.lc,
dieresiscaroncomb.lc,
commaturnsupnosp
)